node_modules
.next
out
build
coverage

.git
.github
.gitignore

.env
.env.*
!.env.example

.vscode
.idea
.DS_Store

*.log
npm-debug.log*

Dockerfile
.dockerignore
README.md
CHANGELOG.md
LICENSE

.releaserc.json
